

.App-logo {
/*animation: App-logo-spin infinite 20s linear;(*/
  height: 80px;
  position: absolute;
  width: 100px;
}

.Add-icon {
  height: 50px;
  float: right;
}
.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.post-title {
  font-size: 18px;
  font-weight: bold;
  color:#711;
}
.post-body {
  font-size: 12px;
  color:#ff3;
}

.post-created {
  float: right;

  padding: 10px;
  margin-bottom:-20px;
  margin-right:-150px;
}
.post-author {
  float: right;
  font-weight: bold;
  margin-top:-20px;
}
.post-container {
  background-color: #999999;
  width: 75%;
  float:right;
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  margin-top:10px;
  margin-left: 10px;
}
.home-button {
  color:#fff;
  margin-top:10px;
  margin-left: 100px;
}
.category-container {
  position: absolute;
  background-color: #E12626;
  width: 20%;
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.buttonDiv {
  position: relative;
  float:right;
  display: block;
  padding: 0px;
  width:200px;
  margin-bottom: 10px;
  margin-left: 0px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
